html {
  height: 100%; }

body {
  height: 100%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover; }
  body .loading {
    padding-top: 50px;
    text-align: center;
    font-size: 22px; }
  body .loaded {
    display: none; }
  body.spring {
    background-image: url("images/spring.jpg"); }
  body.summer {
    background-image: url("images/summer.jpg"); }
  body.autumn {
    background-image: url("images/autumn.jpg"); }
  body.winter {
    background-image: url("images/winter.jpg"); }
  body .container {
    width: 90%;
    background: rgba(255, 255, 255, 0.6); }
    body .container .img-box img {
      height: 100px;
      max-width: 100px;
      position: relative;
      left: 36px;
      float: right; }
    body .container .temperature {
      font-size: 6em; }
    body .container .unit-container {
      padding-top: 15px; }
      body .container .unit-container p {
        font-size: 18px; }
      body .container .unit-container .active {
        font-size: 30px;
        font-weight: bold; }
    body .container .description {
      font-size: 32px; }
